<h1>Listing todos</h1>

<table>
  <thead>
    <tr>
      <th>Priority</th>
	  <th>Due on</th>
	  <th>Tags</th>
	  <th>Task</th>
	  <th>Completed on</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @todos.each do |todo| %>
      <tr>
        <td><%= todo.priority %></td>
		<td><%= todo.due_on %></td>
		<td><%= todo.tags %></td>
        <td><%= todo.task %></td>
		<td><%= todo.completed_on %></td>
        <td><%= link_to 'Edit', edit_todo_path(todo) %></td>
        <td><%= link_to 'Destroy', todo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Todo', new_todo_path %>
